/bin/
.gradle/4.10.3/fileChanges/last-build.bin
.gradle/4.10.3/fileHashes/fileHashes.bin
.gradle/4.10.3/fileHashes/fileHashes.lock
.gradle/4.10.3/taskHistory/taskHistory.bin
.gradle/4.10.3/taskHistory/taskHistory.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
gradle/wrapper/gradle-wrapper.jar
*.xml
.idea/workspace.xml
/build/classes/java/main/com/seamCarving/SeamCarvingApplication.class
*.class
/.gradle
/.idea
/gradle
0368323602-Computer-Graphics-Vision-and-Image-Processing-Seam-Carving.iml
0368323602-Computer-Graphics-Vision-and-Image-Processing-Seam-Carving.ipr
0368323602-Computer-Graphics-Vision-and-Image-Processing-Seam-Carving.iws